<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Todo Details</title>
	</head>
	<body>
		<main>
			<div>
				<h1>{{todo_lists.name}}</h1>
				<h2>To-do items</h2>
				<p><a href="{% url 'todo_list_update' todo_lists.id %}">Edit</a></p>
				<p><a href="{% url 'todo_list_delete' todo_lists.id %}">Delete</a></p>
				<table>
					<thead>
						<tr>
							<th>Tasks</th>
							<th>Due Date</th>
						</tr>
					</thead>
					<tbody>
						{% for todoitems in todo_lists.items.all %}
						<tr>
							<td><a href="{% url 'todo_item_update' todoitems.id %}">{{ todoitems.task }}</a></td>
							<td>{{ todoitems.due_date }}</td>
						</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>
		</main>
	</body>
</html>
